<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>F1 Tracks</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="logo">
          <a href="homepage.html">
            <img src="f1-logo.png" alt="F1 Logo">
          </a>
        </div>
        <nav>
          <ul>
            <li><a href="homepage.html">Home</a></li>
            <li><a href="teams.html">Teams</a></li>
            <li><a href="cars.html">Cars</a></li>
            <li><a href="tracks.html">Tracks</a></li>
            <li><a href="predictor-us.html">Predictor</a></li>
          </ul>
        </nav>
      </header>
    <!-- Predictor Graph Section -->
      




    <footer>
        <p>© 2025 Formula 1 Project</p>
    </footer>
</body>
</html>